@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@200;400;600&display=swap");

/* FONTS */
.text,
.text p {
  font-family: "Urbanist", sans-serif;
  font-weight: 200;
}

.text h1 {
  font-family: "Urbanist", sans-serif;
  font-weight: 600;
}

.text h2,
.text h3,
.text h4,
.text h5,
.text h6 {
  font-family: "Urbanist", sans-serif;
  font-weight: 400;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* BODY CONTENT */
body {
  background-color: #ffffff;
  padding: 15px;
}
.main {
  background-color: white;
  color: black;
  height: 100%;
  min-height: 100%;
}
.mainDiv {
  margin: auto;
  padding: 5px;
  width: 90%;
}
.sidebar {
  background-color: #53565a;
  display: flex;
  margin-top: 10px;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-item-left {
  flex: 33.33333%;
}
.flex-item-middle {
  flex: 33.33333%;
}
.flex-item-right {
  flex: 33.33333%;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }

  .flex-item-right,
  .flex-item-middle,
  .flex-item-left {
    flex: 100%;
  }
}
.covenants {
  width: 95%;
  padding-left: 15px;
}
/* HEADER */
.header {
  background-color: #53565a;
  color: white;
  margin-top: 0.5em !important;
  text-align: center;
}

.header a {
  color: white;
}

.header p {
  margin-top: 0.8em !important;
}

/* SIDEBAR */
.sidebar-list-styling {
  background-color: #53565a;
  color: white;
  font-size: 13px;
  padding-left: 10px;
  padding-top: 25px;
  width: 20%;
}

.sidebar-list a {
  color: white;
  padding: 0;
}

.sidebar-route {
  flex: 1;
  padding: "00px";
}

ul {
  list-style-type: none;
}
/*FOOTER */
footer {
  background-color: #53565a;
  color: white;
  font-size: 11px;
  margin-top: 10px;
}

footer p {
  margin-top: 0.8em !important;
  margin-left: 1.5em;
}
