@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@200;400;600&display=swap");

/* FONTS */
.text,
.text p {
  font-family: "Urbanist", sans-serif;
  font-weight: 200;
}

.text h1 {
  font-family: "Urbanist", sans-serif;
  font-weight: 600;
}

.text h2,
.text h3,
.text h4,
.text h5,
.text h6 {
  font-family: "Urbanist", sans-serif;
  font-weight: 400;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* CONTENT */
.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-item-left {
  flex: 33.33333%;
}
.flex-item-middle {
  flex: 33.33333%;
}
.flex-item-right {
  flex: 33.33333%;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }

  .flex-item-right,
  .flex-item-middle,
  .flex-item-left {
    flex: 100%;
  }
}
