@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@200;400;600&display=swap");
/* COLORS 
gold : #b3995d
gray : #878787
green: #8bb25c
blue: #5c76b2
*/

/* FONTS */
.text,
.text p {
  font-family: "Urbanist", sans-serif;
  font-weight: 200;
}

.text h1 {
  font-family: "Urbanist", sans-serif;
  font-weight: 600;
}

.text h2,
.text h3,
.text h4,
.text h5,
.text h6 {
  font-family: "Urbanist", sans-serif;
  font-weight: 400;
}

/* BODY CONTENT */
body {
  background-color: #ffffff;
  padding: 15px;
}
.main {
  background-color: white;
  color: black;
  height: 100%;
  min-height: 100%;
}
.mainDiv {
  margin: auto;
  padding: 5px;
  width: 90%;
}
.sidebar {
  background-color: #878787;
  display: flex;
  margin-top: 10px;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-container img {
  max-width: 500px;
}

.flex-item-left {
  flex: 33.33333%;
}
.flex-item-middle {
  flex: 33.33333%;
}
.flex-item-right {
  flex: 33.33333%;
}

.flex-image-left {
  flex: 50%;
  padding: 5px;
}

.flex-image-right {
  flex: 50%;
  padding: 5px;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
  .flex-container img {
    max-width: 400px;
  }

  .flex-item-right,
  .flex-item-middle,
  .flex-item-left {
    flex: 100%;
  }
  .flex-image-left,
  .flex-image-right {
    flex: 100%;
  }
}
.covenants {
  width: 95%;
  padding-left: 15px;
}

/* HEADER */
.header {
  background-color: #878787;
  color: white;
  margin-top: 0.5em !important;
  text-align: center;
}

.header a {
  color: white;
}

.header p {
  margin-top: 0.8em !important;
}

.companyName {
  color: white;
  font-size: 36px;
  text-align: center;
}

.companyName img {
  width: 100px;
  margin-right: 15px;
}

/* SIDEBAR */
.sidebar-list-styling {
  background-color: #878787;
  color: white;
  font-size: 13px;
  padding-left: 10px;
  padding-top: 25px;
  width: 20%;
}

.sidebar-list a {
  color: white;
  padding: 0;
}

.sidebar-route {
  flex: 1;
  padding: "00px";
}

ul {
  list-style-type: none;
}
/*FOOTER */
footer {
  background-color: #878787;
  color: white;
  font-size: 12px;
  margin-top: 10px;
}

footer p {
  margin-top: 0.8em !important;
  margin-left: 1.5em;
}

/* LINKS */
a:active {
  color: white;
}

a:hover {
  color: #8bb25c;
}

a:visited {
  color: #5c76b2;
}

.card {
  border: 1px solid black;
  border-radius: 10px;
  margin: 5px;
}
